@import "modal";
@import "list-group.scss";
@import "text";
@import "frame";
@import "rules";

.table-dense {
	font-size: 16px;

	thead th {
		border-top: none;
	}

	th {
		text-align: center;
		vertical-align: middle;

		padding: 8px 16px;
	}

	td {
		padding: 0;
	}
}

.training-set-table-cell {
	height: 64px;
	width: 192px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;

	&.clickable {
		cursor: pointer;
	
		&:hover {
			background-color: #00f3;
		}
	}

	.recharts-wrapper {
		cursor: pointer !important;
	}

	&.remove {
		font-size: 32px;

		cursor: pointer;
		height: 64px;
		width: 64px;
		color: red;

		&:hover {
			background-color: red;
			color: white;
		}
	}
}
