.antecedent-block {
	@extend .frame;

	display: inline-table;
	width: auto;

	&:hover {
		background-color: rgba($primary, 0.05);
		border-color: rgba($primary, 0.5);

		& > div {
			border-color: rgba($primary, 0.5) !important;
		}
	}

	&.invalid {
		border-color: #f00 !important;

		& > div {
			border-color: #f00 !important;
		}
	}

	& > div {
		display: table-cell;
		padding: 0.5rem;
		height: 100%;
		line-height: 1;

		&:not(:first-child), {
			border: none;
			border-radius: 0;
			border-left: $card-border-width solid $card-border-color;

			color: $secondary;
		}

		&.append, &.remove {
			color: $secondary;
		}

		&.append, &.replace {
			&:hover {
				background-color: $primary;
				color: white;

				* {
					color: white;
				}
			}
		}

		&.remove:hover {
			background-color: $red;
			color: white;
		}

		&.append, &.remove, &.replace {
			cursor: pointer;
		}
	}

	& *.keywird {
		padding: 0 0.5rem;
	}
}

.keywird {
	padding: 0 0.25rem;
	font-weight: bold;
	color: $primary;
}

.ruleview {
	// position: relative; // ?

	@extend .frame;

	display: flex;

	&:hover, &:hover * {
		border-color: $primary !important;
	}

	margin-bottom: 15px;

	& > div {
		display: inline-flex;
		justify-content: space-between;

		padding: 0.5rem;
		cursor: pointer;

		&:first-child {
			flex-grow: 1;

			&:hover {
				background-color: rgba($primary, 0.25);
			}
		}

		&:not(:first-child) {
			border-left: $card-border-width solid $card-border-color;
		}

		&.remove:hover {
			background-color: rgba(#f00, 0.25);
		}
	}
}
