// form control

.form-control:focus {
	border-color: $primary !important;
}

// custom checkbox

.custom-checkbox.checked > input {
	@extend .custom-control-input:checked;
}

.custom-checkbox.indeterminate > input {
	@extend .custom-control-input:indeterminate;
}

// react-select

.react-select {
	flex-grow: 1;

	& > div {
		&.react-select__control--is-focused {
			@extend .form-control:focus;

			// box-shadow: none !important;
		}
	}

	&__option--is {
		&-focused {
			background-color: rgba($primary, 0.25) !important;
		}

		&-selected {
			background-color: $primary !important;
		}
	}
}

.input-group > .react-select:first-child > .react-select__control {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

// form feedback

.invalid-feedback, .invalid-tooltip {
	display: block !important;
}

// common

.form-control:focus {
	box-shadow: none !important;
}
