* {
	box-sizing: border-box;
}

body {
	background-color: black;
}

#envelope {
	position: absolute;
	margin: auto;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: #000300;

	padding: 30px;
	border-radius: 10px;
	
	height: 70px;
	width: 560px;
}

#propulsion {
	background-color: #030;

	width: 500px;
}

#progress {
	transition: 0.1s;

	box-shadow: 0 0 10px #0f0, 0 0 30px #0f0;
	background-color: #cfc;

	height: 10px;
}
